{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center; padding-top: 10px;">{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="post">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" name="username" class="form-control" id="username" required>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="text" name="email" class="form-control" id="email"
				pattern="^[A-Za-z0-9._%+-]+@mm-sol.com$" placeholder="email@mm-sol.com"
				title="Wrong email format - should end with mm-sol.com" required>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" class="form-control" id="password" required>
		</div>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" name="name" class="form-control" id="name" required>
		</div>
		<div class="form-group">
			<label for="last_name">Last name</label>
			<input type="text" name="last_name" class="form-control" id="last_name" required>
		</div>
		<div class="form-group">
			<label for="birthday_date">Birthday date</label>
			<input type="text" name="birthday_date" class="form-control" id="birthday_date" 
				placeholder="dd/mm/yyyy" title="Invalid date - the format is dd/mm/yyyy" 
				pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$" 
				required>
		</div>
		{% for message in get_flashed_messages() %}
			<div class="alert alert-danger" role="alert">{{ message }}</div>
		{% endfor %}
		<button type="submit" class="btn btn-primary">Register</button>
	</form>
{% endblock %}
